html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height as minimum height */
}

header, footer {
    background: #005f73;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    flex: 1;
    display: flex; /* Use flexbox to align content */
}

aside.search {
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
}

section.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

aside.profile {
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
    resize: horizontal;
    overflow: auto;
    min-width: 150px;
}

button {
    padding: 10px 20px;
    background: #00b4d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profile-data {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

#profile-data h3 {
    margin-top: 0;
}

button:hover {
    background: #0077b6;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}
